{% extends "base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<h1>Пользователи</h1>

<ul id="users-list" class="list-group">
    {% for user in users %}
    <a href="/users/{{user.id}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ user.username }}</h5>
            <small class="text-body-secondary">last active</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-body-secondary">And some muted small print.</small>
    </a>
    {% endfor %}
</ul>

{% endblock %}